.container.container-tracks {
    width: 70% ; 
  }
  
  .container-tracks .row > .col {
    padding: 10px;
  }
  
  .play-btn, .stop-btn, .record-btn, .play-recorded-btn {
    width: 80px;
    height: 80px;
    margin: 20px 10px 20px 10px;
    
  }

  .square {
     height: 8rem !important;
     padding: 10px;
  } 
  
  .track.btn {
    padding: 0;
    font-size: 1rem !important;
    width: 50%;
    height: 100%; 
  } 

  .square .btn.active, .btn.active.btn-primary {
      background-color: #D4AF37;
  }

  .row.border-radius {
    border-radius:2% !important;
    background-color: #ffffff61;
  }
  
  
  /* media queries for ipads and mobile */
  @media only screen  and (max-device-width: 1023px){
    .container.container-tracks{
      width: 100%;
    }
  }
  @media only screen  and (max-device-width: 768px){
    .container.container-tracks{
      width: 100%;
    }
    .track.btn {
      width: 85%
    }
  }
    






    